* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-1 {
  background-color: #30b868;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-1:hover {
  background-color: #28a75a;
}
body {
  font-family: "inter", sans-serif;
}
.nav-bar {
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .menu .menu-items {
  list-style: none;
  display: flex;
  gap: 32px;
}
.nav-bar .menu .menu-items .menu-item a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.nav-bar .btn-1 {
  padding: 12px 16px;
}



.card-img {
  padding: 14px;
  background: rgba(249, 85, 85, 1);
  border-radius: 50%;
}
