* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1600px;
}
.container {
  padding: 0 120px;
}
.btn-1 {
  background-color: #469165;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-1:hover {
  background-color: #3e7e58;
}
.btn-2 {
  padding: 16px;
  background: transparent;
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
.btn-2:hover {
  background-color: #00000025;
}
.section-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
.section-text {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
body {
  font-family: "inter", sans-serif;
}
.nav-bar {
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .menu .menu-items {
  list-style: none;
  display: flex;
  gap: 32px;
}
.nav-bar .menu .menu-items .menu-item a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.nav-bar .btn-1 {
  padding: 12px 16px;
}
#banner {
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  min-height: 70vh;
}
#banner .banner-content {
  text-align: center;
  padding: 120px 250px;
}
#banner .banner-content .pill-design {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  width: fit-content;
  border-radius: 999px;
  padding: 8px 12px;
}
#banner .banner-content .pill-design .pill-dot {
  height: 8px;
  width: 8px;
  background-color: #469165;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #76ce9a, 0 0 0 6px #c9fadd;
}
#banner .banner-content .pill-design .pill-text {
  font-size: 16px;
  color: #469165;
}
#banner .banner-content .banner-title {
  margin: 16px 0;
  color: #fbfbfb;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
}
#banner .banner-content .banner-title span {
  color: #469165;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
}
#banner .banner-content .banner-text {
  padding-bottom: 16px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
#banner .banner-content .btn-set {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
#banner .banner-content .btn-set .btn-1 {
  padding: 16px;
}
#banner .banner-content .btn-set .btn-1 .btn-1-img {
  margin-left: 8px;
  vertical-align: bottom;
}
#banner .banner-content .btn-set .btn-2 i {
  margin-right: 8px;
}
#problems {
  background-color: #fbfbfb;
}
#problems .problems-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#problems .problems-content .section-title {
  padding-top: 80px;
}
#problems .problems-content .section-text {
  margin: 16px auto 44px;
}

#problems .problems-content .card-items {
  display: flex;
  gap: 48px;
}
#problems .problems-content .card-items .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px;
  box-shadow: -1px 0px 8px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}
#problems .problems-content .card-items .card .card-img {
  margin: 30px auto 0;
}
#problems .problems-content .card-items .card .card-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}
#problems .problems-content .card-items .card .card-text {
  color: #627382;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
#problems .problems-content .card-items .card .card-img {
  padding: 14px;
  background: rgba(249, 85, 85, 1);
  border-radius: 50%;
}
#solutions {
  background-color: #ffffff;
}
#solutions .solutions-content {
  margin: 120px 0;
  display: flex;
  gap: 60px;
}
#solutions .solutions-content .solutions-box {
  margin: auto 0;
}
#solutions .solutions-content .solutions-box .sub-title {
  text-transform: uppercase;
  color: #469165;
  font-size: 16px;
  margin-bottom: 16px;  
}
#solutions .solutions-content .solutions-box .section-title {
  margin-bottom: 16px;
}
#solutions .solutions-content .solutions-box .section-text {
  margin-bottom: 16px;
  max-width: 50ch;
  
}
#solutions .solutions-content .solutions-box .solution-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#solutions .solutions-content .solutions-box .solution-list li {
  font-size: 16px;
  font-weight: 500;
  margin: 16px 0;
}
#solutions .solutions-content .solutions-box .solution-list li img {
  vertical-align: bottom;
  margin-right: 6px;
}

